[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #6a1b9a;
  --md-primary-fg-color--light: #ab47bc;
  --md-primary-fg-color--dark:  #4a148c;
  --md-accent-fg-color:         #00c853;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #8e24aa;
  --md-primary-fg-color--light: #ce93d8;
  --md-primary-fg-color--dark:  #6a1b9a;
  --md-accent-fg-color:         #69f0ae;
}
